* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
  font-family: Avenir Next;
}

.title-container {
  width: 90%;
  padding: 50px;
  font-size: 64px;
  color: white;
  font-weight: 200;
  z-index: 1;
  line-height: 1.15em;
  letter-spacing: -2.7px;
}

.medium-title {
  font-size: 48px;
}

.box {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 200px;
  left: 50px;
  background: white;
}

.button {
  position: absolute;
  transition: 0.5s all;
  left: 0px;
  top: 0px;
  /* border: 1px solid red; */
}

.outer-gold-container {
  position: relative;
  background-color: #fec84e;
  background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.outer-sign-container {
  position: relative;
  background-color: #e6ecf2;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.center-container {
  height: 600px;
  width: 500px;
  border-radius: 20px;
  position: relative;

  /* From https://css.glass */
  background: rgba(254, 200, 78, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(254, 200, 78, 0.3);
}

/* .gold-container {
} */

.button span {
  display: grid;
  height: 50px;
  width: 50px;
  place-items: center;
  font-family: Avenir Next;
  border-radius: 50%;
  margin: 10px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 12px;
  color: white;
  cursor: pointer;
  transform: translate(0px, 0px);
  animation: float 5s infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  40% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.left-container {
  /* background: #ffdea8; */
  width: 100%;
  height: 100%;
}

.desktop-content {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.champagne-bubbles-container {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.champagne-bubble {
  border-radius: 50%;
  background-color: #fce8c9;
  opacity: 1;
  height: 10px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 100%;
}

@keyframes risePop {
  0% {
    transform: translate(0px, 0px);
    opacity: 0.6;
  }

  100% {
    transform: translate(220px, -600px);
    opacity: 0.1;
  }
}

.champagne-image-container {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  display: grid;
  align-items: end;
  justify-items: end;
  overflow: hidden;
  z-index: -1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.image-container {
  overflow: hidden;
  position: relative;
  /* border: 2px solid red; */
  transform: rotate(20deg);
  transform-origin: 20% 90%;
  bottom: -100px;
}

.image-container img {
  width: 600px;
}

.image-container.table-image {
  transform: rotate(0deg);
  left: 0%;
  transform-origin: 50% 50%;
}

.sign-container {
  border: 1px solid rgba(211, 248, 255, 0.3);
  position: relative;
}

.sign-container .title-container {
  font-size: 48px;
  color: black;
}

.sign {
  height: 70px;
  align-self: center;
  width: 100%;
}

.signatures-container {
  display: grid;
  position: absolute;
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.mobile-content {
  display: none;
  width: 100vw;
  height: 100vh;
}

.mobile-bg-wrapper {
  width: 100%;
  height: 100%;
}
.mobile-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  /* complete change: form at the front and center and animation at the background  */
  /* make the form the main thing, then add small animation behind */
  .desktop-content {
    display: none;
  }
  .mobile-content {
    display: flex;
  }
}
