@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: Avenir Next;
  margin: 0 0;
  padding: 0 0;
  /* overflow: hidden; */
}

body{
  background: #fcfcf7;
}

.boiler-grid {
  width: 100%;
  display: grid;
  place-items: center;
  height: 100vh;
  grid-template-columns: 20% 50% 30%;
  /* background-color: #fcfcf7; */
  position: relative;
}

.nav-container {
  height: 100%;
  display: grid;
  /* grid-template-rows: 10% 90%; */
  /* padding: 10px; */
  /* grid-gap: 20px; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* background-color: blue; */
}

.nav-inner-flex > div > span, .hide {
  display: none;
}

.nav-bar {
  display: grid;
  /* grid-template-rows: auto 20%; */
  padding: 20px;
  /* background-color: whitesmoke; */
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
  /* position: absolute; */
  border-right: 1.5px solid #eee;
  overflow: hidden;
  justify-self: start;
  /* align-items: start; */
}

.nav-bar > .nav-inner-flex{
  display: grid;
  grid-gap: 30px;
  align-items: start;
  align-self: start;
  margin-top: 100px;
} 


.nav-inner-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* animations */
.icon svg {
  transition: transform 0.3s ease;
}

.icon svg:hover {
  transform: scale(1.4);
}
*/ .icon-text {
  opacity: 1;
}
.nav-container:hover {
  /* position: absolute; */
  /* position: relative; */
  width: 20%;
}

/* @media (max-width: 640px) {
  .nav-container {
    display: hidden;
  }
} */
